{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="aboutimg1-wrapper">
<div class="container aboutimg1">
    <div class="row">
            <div class="col-md-6 col-12">
                <h2>
                    "Where Every Sip and Bite Tells <br>
                    <span class="nonbreaking-space">&nbsp;</span>a New Story!"
                  </h2>
                <img src="{% static 'images/sandwichhand.png'%}" class="rounded img-fluid" style="left: -20px; background-color: #f8f9fa;">
              </div>
              <div class="col-md-6 col-12">
                <img src="{% static 'images/fries.webp'%}" class="rounded img-fluid" style="left: -20px;">
              </div>
    </div>
</div>
</section>
<section class="abt-section">
    <div class="container">
        
        <div class="col-md-12 col-12 abt-para">
            <h2 class="abt-hfont2">Refreshing Beginnings – A New Flavor Experience Awaits!</h2>
            <p class="abt-para1">Welcome to our startup, a haven for all food and beverage lovers! We’re more than just a coffee shop — we serve a delightful mix of refreshing shakes, flavorful sandwiches, and, of course, the finest coffee. Our mission is to create a space where everyone can savor their favorite treats, unwind, and make memories with loved ones. Whether you're craving a cozy hot drink or a chilled shake, we’ve got something special waiting for you. Join us as we grow and continue spreading joy, one sip and bite at a time!
                At our shop, we believe that food is not just about taste, but about creating an experience. From the moment you step in, you're welcomed into a warm atmosphere where every detail, from our cozy seating to our carefully crafted menu, is designed with you in mind. Our ingredients are sourced with care, ensuring that each dish and drink is made fresh, just for you. Whether you're here for a quick break, a leisurely meal, or a gathering with friends, we promise an experience that’s as satisfying as our food. Come for the flavors, stay for the memories — we can’t wait to serve you!
                <br>We are proud to have expanded our presence in Saudi Arabia with three franchise locations in Hafar Al Batin. With over 12 years of experience in the food and beverage industry, we have become a trusted name for quality and service. Our franchisees share our commitment to offering the best in food and beverages, bringing the same welcoming atmosphere and high-quality experience to customers in the region. Come visit us and enjoy the special experience we've crafted over the years!
            </p>
            <button class="explore-button" type="button">Contact us</button>
        </div>
    </div>
    </div>
</section>



{% endblock %}